/* absolute cursor-pointer right-3 top-3
/*  */
 
.fa_eye{
    height: 55px;
    width:55px;
}

.input{
  width: 55px;
  
}
.Input_css{
  margin-top: 5px;
  margin-bottom: 5px;
  /* margin-left: 12px; */
}


/* .gap{
  margin-right: 60px;
} */