/* .form-group {
    margin: 20px 0;
  }
  
  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }
  
  .divider::before,
  .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
  }
  
  .divider::before {
    margin-right: .25em;
  }
  
  .divider::after {
    margin-left: .25em;
  }
  
  .divider span {
    white-space: nowrap;
    color: #666;
  }
   */